
{{#partial "content"}}

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 id="mara">Maasai Mara Reserve</h2>

            </div>
            <div class="col-md-5">
                <h2 class="text-center"><strong>Record an Animal</strong></h2>

                <form action="/animal/new" method="post">


                    <div class="form-group">
                        <label class="active" for="species">Species</label>
                        <input id="species" name="species" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="active" for="age">Age</label>
                        <input id="age" name="age" type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="active" for="health">Health Status</label>
                        <input id="healthLevel" name="healthLevel" type="text" class="form-control">
                    </div>
                    <div class= "row">
                        <div class="col-md-4">
                            <input type="radio" id="1" name="life-status" values="endangered">
                            <label for="endangered"> Endangered</label><br>
                            <input type="radio" id="2" name="life-status" value="unendangered">
                            <label for="unendangered">Ranger</label><br>
                        </div>
                    </div>
                    <button type="submit" class=" btn btn-success" >Save Animal!</button>

                </form>
            </div>
        </div>
    </div>


    <div class="container">

    </div>



{{/partial}}

{{> layout.hbs}}