{{#partial "content"}}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <img src="/images/rhino.jpg" alt="Avatar" style="width:100%" id="endangered1">
                    <div class="container">
                        <h4><b>Black Rhino</b></h4>
                        <p>Population: 5,000</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="/images/lesser-kudu.jpg" alt="Avatar" style="width:100%" id="endangered1">
                    <div class="container">
                        <h4><b>Lesser-Kudu</b></h4>
                        <p>Population: 118,000</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="/images/hirola-antelope.jpg" alt="Avatar" style="width:100%" id="endangered1">
                    <div class="container">
                        <h4><b>Hirola Antelope</b></h4>
                        <p>Population: 500</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="/images/pangolin.jpg" alt="Avatar" style="width:100%" id="endangered1">
                    <div class="container">
                        <h4><b>Pangolin</b></h4>
                        <p>Population: 1,000,000</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <img src="/images/elephant.jpg" alt="Avatar" style="width:100%" id="endangered1">
                    <div class="container">
                        <h4><b>White Elephant</b></h4>
                        <p>Population: 30</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="/images/butterfly.jpg" alt="Avatar" style="width:100%" id="endangered1">
                    <div class="container">
                        <h4><b>Monarch Butterfly</b></h4>
                        <p>Population: 29,000</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="/images/Chimpanzee.jpg" alt="Avatar" style="width:100%" id="endangered1">
                    <div class="container">
                        <h4><b>Chimpanzee</b></h4>
                        <p>Population: 170,000</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="/images/grevy's-zebra.jpg" alt="Avatar" style="width:100%" id="endangered1">
                    <div class="container">
                        <h4><b>Grevy's Zebra</b></h4>
                        <p>Population: 2,350</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container" id="endangered-species">
        <!--   <h1> List of the Endangered Animals Sighted</h1>
        {{#each endangeredInstance}}
            id:<br>
            Species:<br>
            Age:<br>
            Location:<br>
            Health:<br>
            Current population:
        {{/each}}-->

    </div>


{{/partial}}
{{>layout.hbs}}