{{#partial "content"}}
    <div class="mainImage">
        <img src="https://cdn3.iconfinder.com/data/icons/pyconic-icons-3-1/512/animal-footprint-512.png"  width="40px" height="35px" alt="logo" id="logo">
        <h1>WELCOME<br> TO WILDLIFE TRACKER</h1>
        <br>
        <p><strong><b>Track endangered species in real time and preserve our eco-system.</b></strong></p>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
    <div class="container aboutus" id="about-us">
        <h2 id="aboutus"><strong>ABOUT US</strong></h2>
        <p><strong>The environment is vital to our well-being and <br> every element should be protected!<br>
            <br>


            <br>
            We do enviroment impact studies through tracking wildlife.<br>
            <br>
            The technology provides near-instantaneous observation of the GPS location of an animal <br>within seconds

            <br>
        </strong></p>
    </div>




{{/partial}}

{{> layout.hbs}}