{{#partial "content"}}
    <div class="Container" id="homepage">




        <br>
        <br>
        <br>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <br>
        <br>

        <h1 id="logo"><strong>ECO-TRACKER</strong></h1>
        <br>
        <h2 id="boxshadow"><strong>Track endangered species and save their kind in real time. <br>
            The technology provides near-instantaneous observation of the GPS location of an animal within seconds <br>
            One At A Time</strong></h2>
        <br>
        <br>




        <h3 id="boxshadow"><strong>The environment is vital to our well-being and <br> every element should be protected!</strong> </h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>




    </div>

{{/partial}}

{{> layout.hbs}}