<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Wildlife-Tracker{{/block}}</title>
    <link rel = "icon" href =
            "/images/icon"
          type = "image/x-icon">

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/app.css">
</head>
<body>


<ul class="nav nav-tabs" id="navbar">

    <a class="navbar-brand" href="/"><img src="https://cdn3.iconfinder.com/data/icons/pyconic-icons-3-1/512/animal-footprint-512.png" width="40px" height="35px" ></a>
    <li class="navbar" id="titleTab"><strong>WILDLIFE TRACKER</strong></li>
    <li  class="navbar" id="navbar"><a href="/endangered"><strong>ENDANGERED SPECIES</strong></a></li>
    <li class="navbar-right"><a href="/sighting-store"><strong>SIGHTINGS</strong></a></li>

    <li  class="navbar-right"><a href="/sighting-form"><strong>ADD SIGHTING</strong></a></li>
    <li class="navbar-right"><a href="/ranger-guide"><strong>GUIDE</strong></a></li>
    <li  class="navbar-right" class="navbar-right"><a href="/"><strong>HOME</strong></a></li>




    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;


</ul>

<div class="container">
    <!--begin main template-->



    {{#block "content"}}
    {{/block}}


</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <p class="text-muted"><a href="/ranger-guide"> &nbsp; &nbsp; </a></p>
        </div>
    </footer>
    </body>
    </html>
{{/block}}