{{#partial "content"}}
    <div class="container" id="userGuide">
        <div class="row">
            <div class="col-md-9">
                <h1 id="logo"><strong><u>Instructions</u></strong></h1>
                <br>
                <br>


                <br>
                <h2 id="boxshadow"><strong>Hola! If you see a rare animal in the wild, please fill in the sighting form to help us keep track of them , and ensure their safety and health.</strong></h2>
                <br>
                <br>
                <h2> <strong> In addition, if you spot an animal that is endangered, included in the list below, fill out the form and check the endangered animal button in the form.</strong></h2>
                <h2>Use the attached map to name a location, based on the nearest landmark to where you spotted the animal.</h2>
                <h2> We intend to pay particular attention to endangered animals to preserve their species, and conserve their enviroment. </h2>
                <h2> Your Cooperation will go a long way in helping the Kenya Wildlife Service achieve this goal.</h2>

                <h3 id="boxshadow"><strong>The environment is vital to our own well-being and <br> every element should be protected!</strong> </h3>
                <br>
                <br>
            </div>
            <div class="col-md-3">
                <img src="/images/zookeeper.jpg" alt="Zookeepers" class="image-fluid map ml-5" id="zookeeper">
            </div>


        </div>



    </div>

{{/partial}}

{{> layout.hbs}}